---
Language: Cpp
BasedOnStyle: Microsoft
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
SeparateDefinitionBlocks: Always
PointerAlignment: Left
ReferenceAlignment: Left
NamespaceIndentation: None
AccessModifierOffset: -4
...
